/* alert.css - 23/08/2025 */
.alert { padding: 1rem; border-radius: .25rem; margin-bottom: 1rem; }
.alert-success { background-color: #d4edda; color: #155724; }
.alert-danger { background-color: #f8d7da; color: #721c24; }